.orders {
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
}

.orders__summary {
  border-radius: var(--rounded-lg);
  background-color: var(--muted-background);
  padding: var(--space-4) var(--space-6);
}

.orders__summary-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--space-4);
}

.orders__summary-item {
  flex-shrink: 0;
}

.orders__summary-item--grow {
  flex-grow: 1;
}

.orders__summary-term {
  font-weight: 500;
  color: var(--accent-foreground);
}

.orders__summary-description {
  margin-top: var(--space-1);
}

.orders__summary-description--total {
  font-weight: 500;
  color: var(--foreground);
}

.orders__table {
  width: 100%;
  margin-top: var(--space-4);
  font-size: var(--font-size-3-5);
  line-height: var(--leading-5);
  color: var(--muted-foreground);
}

.orders__table-caption {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.orders__table-head {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  text-align: left;
}

.orders__table-header {
  padding: var(--space-3) var(--space-8) var(--space-3) 0;
  font-weight: normal;
}

.orders__table-body {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.orders__table-cell {
  padding: var(--space-6) var(--space-8) var(--space-6) 0;
}

.orders__product {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.orders__product-image {
  width: var(--space-16);
  border-radius: var(--rounded-xl);
  background-color: var(--muted-background);
}

.orders__product-image img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.orders__product-title {
  font-weight: 500;
  color: var(--foreground);
}

.orders__product-mobile-price {
  margin-top: var(--space-1);
}

.orders__table-cell--price,
.orders__table-cell--quantity {
  display: none;
}

.orders__table-cell--total {
  white-space: nowrap;
  text-align: right;
  font-weight: 500;
  color: var(--foreground);
}

.orders__empty {
  color: var(--muted-foreground);
}

@media (min-width: 640px) {
  .orders__summary-list {
    flex-direction: row;
    gap: var(--space-8);
  }

  .orders__table {
    margin-top: var(--space-6);
  }

  .orders__table-head {
    position: static;
    width: auto;
    height: auto;
    clip: auto;
    margin: 0;
  }

  .orders__table-header--price,
  .orders__table-header--quantity {
    width: 20%;
  }

  .orders__table-cell--price,
  .orders__table-cell--quantity {
    display: table-cell;
  }

  .orders__product-mobile-price {
    display: none;
  }
}
