.basic-select-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.select-field--error {
  border-color: tomato;
}

.select-field__error {
  color: tomato;
  font-size: var(--font-size-3-5);
  margin-top: var(--space-1);
  line-height: var(--leading-none);
}